@model MVC2_Lab2.ViewModels.MovieListViewModel



<h3>Title:</h3>@Model.filmerna.Title
<h4>Description:</h4>
@Model.filmerna.Description
<h4>Category:</h4>@Model.filmerna.FilmCategory.FirstOrDefault().Category.Name

<h4>Actors:</h4>
@foreach (var item in Model.filmerna.FilmActor.ToList())
{
    <ul>
        <li>
            @item.Actor.FirstName @item.Actor.LastName
        </li>
    </ul>
}
<h4>Release Year:</h4>@Model.filmerna.ReleaseYear
<h4>Rating:</h4>@Model.filmerna.Rating
<h4>Length:</h4>@Model.filmerna.Length
<h4>Special Features:</h4>@Model.filmerna.SpecialFeatures



