@model MVC2_Lab2.ViewModels.MovieListViewModel



<h3>Title:</h3>@Model.filmLista[0].Title
<h4>Description:</h4>
@Model.filmLista[0].Description
<h4>Category:</h4>@Model.filmLista[0].FilmCategory.FirstOrDefault().Category.Name

<h4>Actors:</h4>
@foreach (var item in Model.filmLista[0].FilmActor)
{
    <ul>
        <li>
            @item.Actor.FirstName @item.Actor.LastName
        </li>
    </ul>
}
<h4>Release Year:</h4>@Model.filmLista[0].ReleaseYear
<h4>Rating:</h4>@Model.filmLista[0].Rating
<h4>Length:</h4>@Model.filmLista[0].Length
<h4>Special Features:</h4>@Model.filmLista[0].SpecialFeatures



